.Bento-box-top-image {
    height: 300px;
    width: 954px;
    margin: 21px;
    border-radius: 11px;
    background-image: url('/top.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    // display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin:0 2rem -1.2rem;
        // padding: -2rem;
        font-weight: 900;
        font-size: 6.5rem;
        text-transform: uppercase;
        color: #E4F1FE;
    }
}

.Bento-box-left-segment {
    width: 467px;
    height: 424px;

    .left-top-flex {
        display: flex;
        gap: 20px;

        .bento-box-left-section-small {
            width: 224px;
            height: 178px;
            border-radius: 11px;
            background-color: #31304D;

            &:hover {
                transform: rotateX(5deg) rotateY(10deg);
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            }
        }

    }

    .bento-box-left-section-elongated {
        height: 103px;
        margin-top: 20px;
        border-radius: 11px;
        background-color: #31304D;
        transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;
        padding-left: 2rem;
        
        h1 {
            font-size: 40px;
            margin-top: 0px;
            margin-bottom: -7px;
            margin-left: -5px;
            transition: opacity 0.3s ease;
        }

        &:hover {
            cursor: pointer;
            transform: rotateX(5deg) rotateY(7deg);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            font-size: 20px;
        }
    }

    .bento-box-left-section-elongated-break {
        display: flex;
        gap: 20px;

        .bento-box-left-section-elongated-break-section {
            height: 103px;
            width: 223.4px;
            margin-top: 20px;
            border-radius: 11px;
            background-color: #31304D;
            display: flex;
            align-items: center;
            padding: 0px 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease, img 0.3s ease;

            img {
                height: 40px;
                margin-right: 20px;
                transition: height 0.3s ease;
            }

            &:hover {
                cursor: pointer;
                transform: rotateX(5deg) rotateY(10deg);
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
                font-size: 20px;

                img {
                    height: 50px;
                }
            }
        }
    }
}

.Bento-box-right-segment {
    width: 467px;
    height: 424px;

    .bento-box-right-section-elongated {
        height: 202px;
        // width: 467px;
        margin-bottom: 20px;
        background-color: #31304D;
        border-radius: 11px;
        transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        
        h1 {
            font-size: 70px;
            margin-top: 10px;
            margin-bottom: -7px;
            margin-left: -5px;
            transition: opacity 0.3s ease;
        }
        .disapear {
            opacity: 0.8;
            font-size: 17px;
            font-weight: 600;
            margin-top: 17px;
        }
        
        .additional-content {
            opacity: 0;
            // transition: opacity 0.3s ease, transform 0.3s ;
            transform: translateY(-100%) scaleY(0);
            margin-top: 10px;
            
            img{
                opacity: 1;
                height: 40px;
                margin-right: 17px;
                transition: height 0.3s ease;
                border-radius: 11px;

            }
        }

        &:hover {
            cursor: pointer;
            transform: rotateX(5deg) rotateY(7deg);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            font-size: 20px;

            h1 {opacity: 0.4;}
            .disapear{opacity: 0;}

            .additional-content {
                opacity: 1;
                margin-top: -2.7rem;
                transform: translateY(0) scaleY(1);
            }
        }
    }
}