.tech-box-segment{
    margin-top: 70px;
    background-color: #31304D;

    img{
        margin: 20px;
        padding: 20px;
        background-color: #F0ECE5;
        border-radius: 11px;
        height: 71px;
    }
}