.tech-box-segment{
    margin: 70px;
    // background-color: #31304D;
    padding: 20px;
    border-radius: 11px;

    img{
        margin: 20px;
        background-color: #F0ECE5;
        height: 71px;
    }
}